<div class="features">
    <div class="container">
        <h1>What Do You Get with Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>

        <div class="tool-features">
            <a href="#" class="box">
                <img src="images/icon/icon-feature-one.svg" alt="icon speech bubble">
                <h5>Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </a>

            <a href="#" class="box">
                <img src="images/icon/icon-feature-two.svg" alt="icon comuputer">
                <h5>Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </a>

            <a href="#" class="box">
                <img src="images/icon/icon-feature-three.svg" alt="icon to add">
                <h5>Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </a>

            <a href="#" class="box">
                <img src="images/icon/icon-feature-four.svg" alt="bell ringing">
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </a>

            <a href="#" class="box">
                <img src="images/icon/icon-feature-five.svg" alt="notes">
                <h5>Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </a>

            <a href="#" class="box">
                <img src="images/icon/icon-feature-six.svg" alt="data security">
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </a>
        </div>
    </div>
</div>