<section class="light-and-dark-mode">
    <div class="content">
        <img class="computer" src="images/images/computer-lightanddark.svg">
        <img class="arrow" src="images/icon/arrow-icon-lightanddark.svg">
        <div class="content-left">
            <h1>Switch Between</h1>
        </div>

        <div class="content-right">
            <h1>Light & Dark Mode</h1>
        </div>
    </div>
</section>