<section class="manage-your-work">
    <div class="container">
        <div class="content-left">
            <img src="images/images/manageyourwork-imageleft.svg" alt="image of a website">
        </div>

        <div class="content-right">
            <h2>Manage Your Work</h2>

            <div class="points">
                <div class="point">
                    <i class="fa-regular fa-circle-check"></i>
                    <p>Powerful project management</p>
                </div>

                <div class="point">
                    <i class="fa-regular fa-circle-check"></i>
                    <p>Transparent work management</p>
                </div>

                <div class="point">
                    <i class="fa-regular fa-circle-check"></i>
                    <p>Manage work & focus on the most important tasks</p>
                </div>

                <div class="point">
                    <i class="fa-regular fa-circle-check"></i>
                    <p>Track your progress with interactive charts</p>
                </div>

                <div class="point">
                    <i class="fa-regular fa-circle-check"></i>
                    <p>Easiest way to track time spent on tasks</p>
                </div>
            </div>

            <a class="btn-theme-s" href="#">Learn more <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>