@model NewsletterViewModel

<section class="sign-up-for-newsletters">
    <div class="container">
        <div class="title">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="images/icon/arrows.svg" alt="arrow pointing down">
        </div>

        <form method="post" asp-controller="Home" asp-action="Newsletter" novalidate>
            <div class="signup">
                <h5>Sign up for Newsletters</h5>

                <div class="checkbox-group">
                    <div>
                        <input asp-for="Newsletter.DailyNewsletter" />
                        <label asp-for="Newsletter.DailyNewsletter"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.AdvertisingUpdates" />
                        <label asp-for="Newsletter.AdvertisingUpdates"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.WeekinReview" />
                        <label asp-for="Newsletter.WeekinReview"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.EventUpdates" />
                        <label asp-for="Newsletter.EventUpdates"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.StartupsWeekly" />
                        <label asp-for="Newsletter.StartupsWeekly"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.Podcasts" />
                        <label asp-for="Newsletter.Podcasts"></label>
                    </div>
                </div>
            </div>

            <div class="subscribe">
                <i class='fa-regular fa-envelope'></i>
                <div class="input">
                    <span asp-validation-for="Newsletter.Email"></span>
                    <input asp-for="Newsletter.Email" />
                    <button class="btn-theme-s" type="submit">Subscribe *</button>
                </div>
            </div>
            <div class="text-under">
                <p><span>*</span> Yes, I agree to the <a class="blue-link" href="#">terms</a> and <a class="blue-link" href="#">privacy policy</a>.</p>
            </div>
        </form>

        <span class="information">
            @if (ViewData["Status"]?.ToString() == "Created")
            {
                <span class="alert alert-success">
                    You have been subscribed
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "AlreadyExists")
            {
                <span class="alert alert-warning">
                    You have already subscribed
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Invalid")
            {
                <span class="alert alert-danger">
                    You must enter an valid email address
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "ConnectionFailed")
            {
                <span class="alert alert-danger">
                    Unable to contact the server. Please try later.
                </span>
            }
        </span>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")