@model NewsletterViewModel

<section class="sign-up-for-newsletters">
    <div class="container">
        <div class="title">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="images/icon/arrows.svg" alt="arrow pointing down">
        </div>

        <form method="post" asp-controller="Home" asp-action="Index" novalidate>
            <div class="signup">
                <h5>Sign up for Newsletters</h5>

                <div class="checkbox-group">
                    <div>
                        <input asp-for="Newsletter.CheckboxOne" />
                        <label asp-for="Newsletter.CheckboxOne"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.CheckboxTwo" />
                        <label asp-for="Newsletter.CheckboxTwo"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.CheckboxThree" />
                        <label asp-for="Newsletter.CheckboxThree"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.CheckboxFour" />
                        <label asp-for="Newsletter.CheckboxFour"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.CheckboxFive" />
                        <label asp-for="Newsletter.CheckboxFive"></label>
                    </div>

                    <div>
                        <input asp-for="Newsletter.CheckboxSix" />
                        <label asp-for="Newsletter.CheckboxSix"></label>
                    </div>
                </div>
            </div>

            <div class="subscribe">
                <i class='fa-regular fa-envelope'></i>
                <div class="input">
                    <span asp-validation-for="Newsletter.Email"></span>
                    <input asp-for="Newsletter.Email" />
                    <button class="btn-theme-s" type="submit">Subscribe *</button>
                </div>
            </div>
            <div class="text-under">
                <p><span>*</span> Yes, I agree to the <a class="blue-link" href="#">terms</a> and <a class="blue-link" href="#">privacy policy</a>.</p>
            </div>
        </form>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")