<section id="showcase">
    @await Html.PartialAsync("~/Views/Shared/Sections/PageHome/_Showcase.cshtml")
</section>

<section id="features">
    @await Html.PartialAsync("~/Views/Shared/Sections/PageHome/_Features.cshtml")
</section>

@await Html.PartialAsync("~/Views/Shared/Sections/PageHome/_Light-and-dark-mode.cshtml")
@await Html.PartialAsync("~/Views/Shared/Sections/PageHome/_Manage-your-work.cshtml")
@await Html.PartialAsync("~/Views/Shared/Sections/PageHome/_Download-our-app.cshtml")
@await Html.PartialAsync("~/Views/Shared/Sections/PageHome/_Integrate-top-work-tools.cshtml")
@await Html.PartialAsync("~/Views/Shared/Sections/PageHome/_Sign-up-for-newsletters.cshtml")