#account-details {

    .container {
        display: flex;
        justify-content: space-evenly;
        gap: 110px;

        .content-left {
            position: relative;
            width: 318px;
            padding: 0 10px 0 0;

            .profile {
                text-align: center;

                img {
                    margin: 38px 0 10px 0;
                }

                p {
                    color: $gray-700;
                    margin: 0 0 35px 0;
                }
            }

            nav {

                .btn-theme {
                    text-decoration: none;
                    padding: 10px 15px;
                    color: $gray-800;
                    font-weight: 600;
                    background-color: #FFFFFF;
                    justify-content: left;

                    i {
                        color: $gray-600;
                        margin-right: 5px;
                    }

                    &.active {
                        background-color: $theme;
                        color: #FFFFFF;
            
                        i {
                            color: #FFFFFF;
                        }
                    }
                }
            }

            .line {
                position: absolute;
                top: 0;
                left: 318px;
                border-right: 1px solid $gray-400;
                height: 1185px;
                width: 1px;
            }
        }

        .content-right {

            .first {

                h2 {
                    margin: 52px 0 30px 0;
                }

                h5 {
                    color: $theme;
                    margin: 0 0 20px 0;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    .fullname {
                        display: flex;
                        justify-content: space-between;

                        .firstname {
                            display: flex;
                            flex-direction: column;
                        }
    
                        .lastname {
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    .contact-info {
                        display: flex;
                        justify-content: space-between;

                        .email {
                            display: flex;
                            flex-direction: column;
                        }
    
                        .phone {
                            display: flex;
                            flex-direction: column;
                        }
                    }
        
                    label {
                        font-weight: 600;

                        span {
                            color: $gray-600;
                        }
                    }
        
                    input {
                        border: 1px solid $gray-400;
                        outline: 1px solid $gray-400;
                        border-radius: 6px;
                        padding: 10px;
                        margin: 0 0 24px 0;
        
                        &::placeholder {
                            color: $gray-500;
                        }
                    }

                    textarea {
                        border: 1px solid $gray-400;
                        outline: 1px solid $gray-400;
                        border-radius: 6px;
                        height: 104px;
                        margin: 0 0 24px 0;

                        &::placeholder {
                            color: $gray-500;
                        }
                    }
        
                    .buttons {
                        display: flex;
                        grid-area: button;
                        margin: 0 0 40px 0;
                        gap: 20px;
                    }
                }

                .under-line {
                    border-bottom: 1px solid $gray-400;
                    width: 856px;
                }
            }

            .address-info {
                margin: 40px 0 0 0;

                h5 {
                    color: $theme;
                    margin: 0 0 20px 0;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    .post-city {
                        display: flex;
                        justify-content: space-between;

                        .postalcode {
                            display: flex;
                            flex-direction: column;
                        }

                        .city {
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    label {
                        font-weight: 600;
                    }
        
                    input {
                        border: 1px solid $gray-400;
                        outline: 1px solid $gray-400;
                        border-radius: 6px;
                        padding: 10px;
                        margin: 0 0 24px 0;
        
                        &::placeholder {
                            color: $gray-500;
                        }
                    }

                    .buttons {
                        display: flex;
                        grid-area: button;
                        margin: 0 0 40px 0;
                        gap: 20px;
                    }
                }
            }
        }
    }
}