#sign-in {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 40%;
        }

        form {
            padding: 24px 24px;

            @include lg {
                padding: 137px 0 60px 0;
            }

            .error {
                text-align: center;
                color: $danger;
            }

            h1 {
                @include lg {
                    margin: 0 0 16px 0;
                }
            }

            p {
                @include lg {
                    margin: 0 0 25px 0;
                }
            }

            .content {
                display: grid;
                gap: 24px;
                grid-template-columns: 1fr;

                #form-email {
                }

                #form-password {
                }

                #form-remember {
                }

                #form-button {
                }

                #form-forgot-password {
                    text-align: center;
                }
            }
        }
    }
}
