.sign-up-for-newsletters {
    background: $gray-100;

    .container {
        position: relative;
        padding: 30px 10px 30px 10px;

        @include xl {
            padding: 95px 0 120px 200px;
        }

        .title {
            display: flex;

            h1 {
                @include h3;

                @include lg {
                    @include h1;
                }
            }

            img {
                margin: 10px 0 0 15px;

                @include lg {
                    margin: 10px 0 0 25px;
                }
            }
        }

        form {

            .signup {
                display: block;
                align-items: center;
                margin: 25px 0 30px 0;

                @include lg {
                    display: flex;
                    margin: 50px 0 60px 0;
                }

                h5 {
                    width: 196px;
                }

                .checkbox-group {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 20px;

                    @include lg {
                        grid-template-columns: 1fr 1fr 1fr;
                        margin-top: 0;
                    }

                    div {
                        margin-right: 20px;

                        input {
                            width: 15px;
                            height: 15px;
                            border: 2px solid $gray-500;
                            border-radius: 4px;
                            outline: none;

                            &:checked {
                                background-color: $theme;
                                border-color: $theme;
                            }
                        }

                        label {
                            margin-left: 5px;
                            @include text-s;
                            color: $gray-700;
                        }
                    }
                }
            }

            .subscribe {
                position: relative;

                i {
                    position: absolute;
                    color: $gray-500;
                    left: 10px;
                    top: 8px;

                    @include lg {
                        left: 30px;
                        top: 22px;
                    }
                }

                .input {
                    display: block;

                    @include lg {
                        display: flex;
                        gap: 20px;
                    }

                    span {

                        &.field-validation-error {
                            position: absolute;
                            top: -20px;
                            left: 0;
                            @include text-s;
                            color: $danger !important;
                        }
                    }

                    input {
                        width: 100%;
                        border: 1px solid $gray-400;
                        color: $gray-500;
                        outline: $gray-500;
                        border-radius: 6px;
                        padding-left: 50px;

                        @include lg {
                            width: 688px;
                        }

                        &::placeholder {
                            color: $gray-500;
                        }
                    }

                    a {
                        margin-top: 15px;

                        @include lg {
                            margin-left: 20px;
                            margin-top: 0;
                        }
                    }
                }
            }

            .text-under {
                margin: 10px;

                p {

                    span {
                        color: $theme;
                    }

                    .blue-link {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.dark-mode {

    .sign-up-for-newsletters {
        background: $gray-900;

        .container {
            position: relative;
            padding: 30px 10px 30px 10px;

            @include xl {
                padding: 95px 0 120px 200px;
            }

            .title {
                display: flex;

                h1 {
                    @include h3;
                    color: $gray-300;

                    @include lg {
                        @include h1;
                        color: $gray-300;
                    }
                }

                img {
                    margin: 10px 0 0 15px;

                    @include lg {
                        margin: 10px 0 0 25px;
                    }
                }
            }

            form {

                .signup {
                    display: block;
                    align-items: center;
                    margin: 25px 0 30px 0;

                    @include lg {
                        display: flex;
                        margin: 50px 0 60px 0;
                    }

                    h5 {
                        width: 196px;
                        color: $gray-300;
                    }

                    .checkbox-group {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        margin-top: 20px;

                        @include lg {
                            grid-template-columns: 1fr 1fr 1fr;
                            margin-top: 0;
                        }

                        div {
                            margin-right: 20px;

                            input {
                                width: 15px;
                                height: 15px;
                                border: 2px solid $gray-500;
                                border-radius: 4px;
                                outline: none;

                                &:checked {
                                    background-color: $theme;
                                    border-color: $theme;
                                }
                            }

                            label {
                                margin-left: 5px;
                                @include text-s;
                                color: $gray-500;
                            }
                        }
                    }
                }

                .subscribe {
                    position: relative;

                    i {
                        position: absolute;
                        color: $gray-500;
                        left: 10px;
                        top: 8px;

                        @include lg {
                            left: 30px;
                            top: 22px;
                        }
                    }

                    .input {
                        display: block;

                        @include lg {
                            display: flex;
                            gap: 20px;
                        }

                        span {

                            &.field-validation-error {
                                position: absolute;
                                top: -20px;
                                left: 0;
                                @include text-s;
                                color: $danger !important;
                            }
                        }

                        input {
                            background-color: $gray-900;
                            width: 100%;
                            border: 1px solid $gray-500;
                            color: $gray-500;
                            outline: $gray-600;
                            border-radius: 6px;
                            padding-left: 50px;

                            @include lg {
                                width: 688px;
                            }

                            &::placeholder {
                                color: $gray-500;
                            }
                        }

                        a {
                            margin-top: 15px;

                            @include lg {
                                margin-left: 20px;
                                margin-top: 0;
                            }
                        }
                    }
                }

                .text-under {
                    margin: 10px;

                    p {
                        color: $gray-500;

                        span {
                            color: $theme;
                        }

                        .blue-link {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}