@inject SignInManager<UserEntity> _signInManager

<header class="@((ViewContext.RouteData.Values["Action"]!.ToString() == "Contact") ? "contact" : "standard")">
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"></a>

        <div id="menu">
            <nav>
                @if (_signInManager.IsSignedIn(User))
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                    <a class="menu-link" asp-controller="Course" asp-action="Courses">Courses</a>
                    <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                }
                else
                {
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index">Features</a>
                    <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                }
            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" onclick="toggleBothSwitches();">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>

        <div id="account-buttons">

            @if (_signInManager.IsSignedIn(User))
            {

                <div class="profile-avatar">
                    <div class="dropdown">
                        <button onclick="toggleDropdown()" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            <img src="/images/images/header-profileimage.svg" alt="" />
                        </button>
                        <div id="profileDropdownMenu" class="dropdown-menu" style="display: none;">
                            <a asp-controller="Account" asp-action="Details" class="dropdown-item btn-theme"><i class="fa-regular fa-gear"></i>Details</a>
                            <a asp-controller="Account" asp-action="Security" class="dropdown-item btn-theme"><i class="fa-regular fa-lock"></i>Security</a>
                            <a asp-controller="Account" asp-action="SavedCourses" class="dropdown-item btn-theme"><i class="fa-light fa-bookmark"></i>Saved Courses</a>
                            <a asp-controller="Account" asp-action="SubCourse" class="dropdown-item btn-theme"><i class="fa-regular fa-cart-arrow-down"></i> My Courses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item btn-theme" asp-controller="Auth" asp-action="SignOut"><i class="fa-light fa-right-from-bracket"></i>Sign Out</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-solid fa-right-to-bracket"></i><span>Sign In</span></a>
                <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
            }
        </div>

        <div class="mobile-account-buttons">
            @if (_signInManager.IsSignedIn(User))
            {
                <div class="profile-avatar-mobile">
                    <div class="dropdown-mobile">
                        <button onclick="toggleDropdownMobile()" class="dropdown-toggle-mobile" aria-haspopup="true" aria-expanded="false">
                            <img src="/images/images/header-profileimage.svg" alt="" />
                        </button>
                        <div id="profileDropdownMenuMobile" class="dropdown-menu-mobile" style="display: none;">
                            <div class="menu-link">
                                <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                                <a class="menu-link" asp-controller="Course" asp-action="Courses">Courses</a>
                                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                            </div>
                            <a asp-controller="Account" asp-action="Details" class="dropdown-item-mobile btn-theme"><i class="fa-regular fa-gear"></i>Details</a>
                            <a asp-controller="Account" asp-action="Security" class="dropdown-item-mobile btn-theme"><i class="fa-regular fa-lock"></i>Security</a>
                            <a asp-controller="Account" asp-action="SavedCourses" class="dropdown-item-mobile btn-theme"><i class="fa-light fa-bookmark"></i>Saved Courses</a>
                            <a asp-controller="Account" asp-action="SubCourse" class="dropdown-item-mobile btn-theme"><i class="fa-regular fa-cart-arrow-down"></i> My Courses</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item-mobile btn-theme" asp-controller="Auth" asp-action="SignOut"><i class="fa-light fa-right-from-bracket"></i>Sign Out</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="profile-avatar-mobile">
                    <div class="dropdown-mobile">
                        <button onclick="toggleDropdownMobile()" class="dropdown-toggle-mobile" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                        <div id="profileDropdownMenuMobile" class="dropdown-menu-mobile" style="display: none;">
                            <div class="menu-link">
                                <a class="menu-link" asp-controller="Home" asp-action="Index">Overview</a>
                                <a class="menu-link" asp-controller="Home" asp-action="Index">Features</a>
                                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="button">
                                <a class="dropdown-item-mobile btn-theme" asp-controller="Auth" asp-action="SignIn"><i class="fa-solid fa-right-to-bracket"></i><span>Sign In</span></a>
                                <a class="dropdown-item-mobile btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</header>

@await Html.PartialAsync("_ProfileAvatarScriptPartial")